/* IE6 Fixes CSS File */
.popup{background:url(img/popup.gif);}
.overlay{background:url(img/overlay.gif);opacity: 0.75;filter:alpha(opacity=75);}
#popup_highlights_post_status{float:right;width:45%;}
#popup_highlights_category_status{width:74%;}
.select{width:160px !important;padding:5px !important;height:27px !important;}
.ie_top{padding:10px !important;}
#popup_featured_video_status{float:left;background-position:left;}
#popup_feedburner_id_status, #popup_feedburner_url_status{float:left;background-position:0 8px;}
.popup_generic_desc{font-weight:normal !important;}
.input_option{float:left;border:1px solid #eee;background:#f8f8f8;width:675px;}
.input_option:hover{border:1px solid #D9E7F4;background:#ECF3FA;}
.radio_option{float:left;border-right:1px solid #eee;padding:4px;background:#fff;}
.radio_content{float:left;padding:4px;line-height:22px !important;text-align:left;display:block;vertical-align:middle !important;}
#one_panel_installer_container{border:3px solid #e1e1e1;font-family:Geneva, Arial, sans-serif;font-size:12px;line-height:22px;margin:3em auto;padding:2em;width:800px;-moz-border-radius:0;-webkit-border-radius:0;background:#FFF none !important;}